#body {
    background: url("/images/fk2_053.jpg");
    background-size: cover;
}

#top {
    background: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#top a {
    color: white;
}

#bottom {
    background: black;
    color: white;
}

#bottom a {
    color: white;
}

#main {
    background: #ffffffe0;
}

#main h1, #main h2 {
    color: black;
    background: white;
    opacity: 2.0;
    text-shadow: none;
    border: none;
    z-index: 3;
}

#main h1 a, #main h2 a {
    color: black;
}

#side2 {
    width: auto;
}

#side1, #side2 {
    background: #ffffff00;
}

aside nav details {
    background: #f8f8ffe0;
    text-shadow: none;
}

aside nav summary {
    color: black;
    background: #ffffff;
    text-shadow: none;
}

